<template>
  <div class="details">
    <div>
      <h1>Estimado Alberto Aguilar,</h1>
      <p>
        Como un equipo bien integrado de Ingenieros de Software, Diseñadores y
        Desarrolladores, nuestra experiencia combinada y nuestras habilidades
        técnicas nos hacen un equipo bien preparado para desarrollar
        completamente sus soluciones de software or asesorarlo en el sistema de
        Tecnología ideal para su empresa.
      </p>
      <p>
        Los grandes retos son nuestra mejor oportunidad para realizar un
        excelente trabajo, por lo tanto si hay algún projecto especial que tenga
        en mente lo invitamos a reunirse con nosotros en nuestras oficinas o
        video conferencia para hablar en mas detalle de la cotización expuesta.
      </p>
      <p>Esperamos ansiosos poder trabajar con usted.&nbsp;</p>
      <p>
        <strong>Greicodex Software C.A.<br /><br /></strong>
      </p>
    </div>

    <div>
      <div class="w-96">
        <span>Levantamiento de Requerimientos (SOW Consultoría)</span><br />
        <span
          >Benefíciese de los sabios consejos y la experiencia de nuestros
          técnicos con una consultoría para levantar el plano de requerimientos
          de la solución personalizada con reuniones en sitio con el
          cliente.&nbsp; Tiempo estimado: 4 semanas</span
        >
      </div>
      <!-- end pt-col50 -->
      <div class="w-10"></div>
      <!-- end pt-col25 -->
      <div class="w-20 align-right">
        <span class="pt-price">$<span class="lineitem-cost">3,000</span> </span
        ><br />
        <input type="checkbox" checked="checked" />
      </div>
    </div>
    <!-- end pt-lineitem -->

    <div>
      <div class="w-10 lineitem-menuitems">
        <span
          class="pricing-name lineitem-contenteditable-label"
          >Custom Software Solution</span
        ><br />
        <span
          >Este ciclo completo de desarrollo llevará sus necesidades de software
          a través de una solución personalizada dedicada para las necesidades
          de su negocio.&nbsp; Tiempo estimado: 9 meses</span
        >
      </div>
      <!-- end pt-col50 -->
      <div class="pt-col10 uk-padding-x-small"></div>
      <!-- end pt-col25 -->
      <div class="pt-col20 uk-padding-x-small align-right">
        <span class="pt-price">$<span class="lineitem-cost">95,000</span> </span
        ><br />
        <input type="checkbox" checked="checked" />
      </div>
    </div>
    <!-- end pt-lineitem -->

    <div>
      <div class="pt-col70">
        <span></span><br />
        <span></span>
      </div>
      <div class="pt-col10 uk-padding-x-small"></div>
      <!-- end pt-col25 -->
      <div class="pt-col20 uk-padding-x-small align-right">
        <span class="pt-price"></span>
      </div>
    </div>
    <!-- end pt-lineitem -->
    <div>
      <div class="pt-col70">
        <span>DATA ANALYTICS</span><br />
        <span data-id="268423"
          >Asegúrese de que su solución de TI funcione de manera óptima para su
          negocio con estadísticas mensuales inteligentes y un informe de
          desglose detallado.</span
        >
      </div>
      <div class="pt-col10 uk-padding-x-small"></div>
      <!-- end pt-col25 -->
      <div class="pt-col20 uk-padding-x-small align-right">
        <span class="pt-price"
          >$<span class="lineitem-cost">500</span> /mes</span
        >
      </div>
    </div>
    <!-- end pt-lineitem -->
    <div class="pt-lineitem totals hidden">
      <div class="">
        <div class="pt-col60"></div>
        <div class="pt-col20 align-right">One off subtotal</div>
        <div class="pt-col20 align-right"></div>
        <div class="pt-col60"></div>
        <div class="pt-col20 align-right">One off discount</div>
        <div class="pt-col20 align-right">£0</div>
        <div class="pt-col60"></div>
        <div class="pt-col20 align-right">Pago Único Total</div>
        <div class="pt-col20 align-right pt-lineitem-total">
          $98,000<br /><span class="pricing-microcopy hidden"
            >(inc $0 discount)</span
          >
        </div>
      </div>
      <div class="">
        <div class="pt-col60"></div>
        <div class="pt-col20 align-right">Monthly subtotal</div>
        <div class="pt-col20 align-right"></div>
        <div class="pt-col60"></div>
        <div class="pt-col20 align-right">Monthly discount</div>
        <div class="pt-col20 align-right">£0</div>
        <div class="pt-col60"></div>
        <div class="pt-col20 align-right">Mensual Total</div>
        <div class="pt-col20 align-right pt-lineitem-total">
          $500<br /><span class="pricing-microcopy hidden"
            >(inc $0 discount)</span
          >
        </div>
      </div>
      <div class="hidden">
        <div class="pt-col60"></div>
        <div class="pt-col20 align-right">Quarterly subtotal</div>
        <div class="pt-col20 align-right"></div>
        <div class="pt-col60"></div>
        <div class="pt-col20 align-right">Quarterly discount</div>
        <div class="pt-col20 align-right">£0</div>
        <div class="pt-col60"></div>
        <div class="pt-col20 align-right">Trimestre Total</div>
        <div class="pt-col20 align-right pt-lineitem-total">
          $0<br /><span class="pricing-microcopy hidden"
            >(inc $0 discount)</span
          >
        </div>
      </div>
      <div class="hidden">
        <div class="pt-col60"></div>
        <div class="pt-col20 align-right">Annual subtotal</div>
        <div class="pt-col20 align-right"></div>
        <div class="pt-col60"></div>
        <div class="pt-col20 align-right">Annual discount</div>
        <div class="pt-col20 align-right">£0</div>
        <div class="pt-col60"></div>
        <div class="pt-col20 align-right">Anual Total</div>
        <div class="pt-col20 align-right pt-lineitem-total">
          $0<br /><span class="pricing-microcopy hidden"
            >(inc $0 discount)</span
          >
        </div>
      </div>
    </div>

    <div class="pt test" style="margin-bottom: 30px; overflow: auto">
      <div class="pt-lineitem">
        <div class="">
          <div class="pt-col60"></div>
          <div class="pt-col20 align-right">Pago Único Total</div>
          <div class="pt-col20 align-right pt-lineitem-total">
            <span class="hidden">$98,000<br /></span>
            <span class="pricing-microcopy hidden">- $0<br /></span>
            $98,000<br />
            <span class="pricing-microcopy hidden"> (inc )</span>
          </div>
        </div>
        <div class="">
          <div class="pt-col60"></div>
          <div class="pt-col20 align-right">Mensual Total</div>
          <div class="pt-col20 align-right pt-lineitem-total">
            <span class="hidden">$500<br /></span>
            <span class="pricing-microcopy hidden">- $0<br /></span>
            $500<br />
            <span class="pricing-microcopy hidden"> (inc )</span>
          </div>
        </div>
        <div class="hidden">
          <div class="pt-col60"></div>
          <div class="pt-col20 align-right">Trimestre Total</div>
          <div class="pt-col20 align-right pt-lineitem-total">
            <span class="hidden">$0<br /></span>
            <span class="pricing-microcopy hidden">- $0</span>
            $0<br />
            <span class="pricing-microcopy hidden"> (inc )</span>
          </div>
        </div>
        <div class="hidden">
          <div class="pt-col60"></div>
          <div class="pt-col20 align-right">Annual Total</div>
          <div class="pt-col20 align-right pt-lineitem-total">
            <span class="hidden">$0<br /></span>
            <span class="pricing-microcopy hidden">- $0</span>
            $0<br />
            <span class="pricing-microcopy hidden"> (inc )</span>
          </div>
        </div>

        <strong
          >This quote is brought to you by Greicodex Software C.A. and is
          regulated<br />by the Terms and Conditions presented on the next
          page.</strong
        >
      </div>
    </div>
  </div>
</template>

<script setup>
</script>

<style>
.details {
}
</style>