<template>
  <div class="bg-parent">
    <div class="video-container"></div>
    <div class="filter" style="background-color: rgba(0, 0, 0, 0.5)"></div>

    <div class="center-bg-filter-child background-animate"></div>

    <div class="center-align">
      <img src="~/assets/images/Logo-101@2x.png" class="logo text-animate" />
      <h1 class="text-animate text-white text-xg">
        Software Quote for {{ customer.name }} <span v-if="customer.company"> at {{ customer.company }}</span>
      </h1>
      <h2 class="text-animate text-white">
        Written by {{ salesman.name }} <span v-if="salesman.company"> at {{ salesman.company }} </span>
      </h2>

      <a @click="viewQuoteClicked" class="btn-square-solid text-animate">View Quote</a>
    </div>
    
  </div>
</template>

<script setup>
const props = defineProps({
  customer: {
    type: [Object],
    required: true
  },
  salesman: {
    type: [Object],
    required: true
  },
});

const emitters = defineEmits(['clicked']);

const viewQuoteClicked =() => {
  emitters('clicked');
};
</script>

<style>
h1 {
  font-size: 32pt;
  font-weight: 900;
}
h2 {
  font-size: 16pt;
}
.logo {
  @apply p-6  m-auto mt-10 font-bold;
}
.btn-square-solid {
  @apply relative top-20 rounded-md bg-indigo-900 text-white p-6 w-48 mx-auto mt-20  font-bold;
}
.bg-parent {
  @apply min-h-screen;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url(https://s3-eu-west-1.amazonaws.com/businessautomation/Proposal_Cover_BGImages/ABC_softw-dev_2751.jpg);
  background-repeat: repeat-y, no-repeat;
  background-size: cover;
  background-position: left, top;
  
  width: 100%;
  height: 100%;
}
.center-align {
  text-align: center !important;
  padding: 100px;
  
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.background-animate {
  -webkit-animation: background-animate 15s ease-out both;
  animation: background-animate 15s ease-out both;
}
.text-animate {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.5s
    both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.5s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-10 18:0:49
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
</style>