  <template>
  <div class="terms">
    <h1>Terms and Conditions</h1>
    <h2>1. Cotización</h2>
    <p>
      1.1 Greicodex Software C.A. ha preparado esta cotización en base a las
      pertinentes información suministrada por el cliente con respecto al evento
      y escala del trabajo de desarrollo requerido. Greicodex Software C.A. no
      acepta responsabilidad alguna por cualquier pérdida, disputa o daño que
      surja como resultado directo de errores en esta información.
    </p>
    <p>
      1.2 Todos los precios son preparado en base a la mejor estimación en el
      momento de la presentación tomando en cuenta la información suministrada
      por el cliente. De ser esto encontrado inexacto, Greicodex Software C.A.
      citará un cargo adicional basado en información y evidencia precisas para
      liquidar el diferencia, y esto debe ser acordado por ambas partes antes de
      comenzar este atendimiento
    </p>
    <p>
      1.3 Todos los precios dados en esta cotización son correctos en el momento
      de la escritura, pero puede estar sujeto a cambios futuros debido a
      factores externos como el costo del suministro, etc.&nbsp;
    </p>
    <p>
      1.4 Todos los precios cotizados son válido solo hasta la fecha de
      vencimiento indicada en la cotización. Aceptación de esta cotización
      significa automáticamente la aceptación de los términos y condiciones
      establecidas aquí e indica un acuerdo entre Greicodex Software C.A. y el
      cliente.&nbsp;
    </p>
    <p>
      1.5 Únicamente los tratamientos y Los servicios descritos en la cotización
      están incluidos en el precio dado. Cualquier otro servicio adicional fuera
      del alcance de la cotización dada será con cargo.&nbsp; Cualquier servicio
      que quede fuera del alcance de este la cotización primero debe ser
      acordada con un precio y firmada por ambas partes antes de que pueda
      seguir adelante.
    </p>
    <h2>2. Alcance del trabajo</h2>
    <p>
      2.1 Greicodex Software C.A. se esforzará por llevar a cabo los servicios
      enumerados con un alto nivel profesional a través de proveedores de
      confianza.
    </p>
    <p>
      2.2 Si bien se harán todos los esfuerzos razonables para llevar a cabo las
      servicios, Greicodex Software C.A. se reserva el derecho de modificar o
      cancelar prestación del servicio a corto plazo en el caso de razones
      ajenas a su controlar por ej. interrupción del suministro.
    </p>
    <h2>3. Facturación y Pago</h2>
    <p>
      3.1 El cliente acepta la cotización final dada aquí y el precio de los
      bienes. y los servicios incluirán el IVA.&nbsp; Al aceptar una cotización,
      El 60% del saldo será inmediatamente exigible para su liquidación antes de
      la fecha del evento.
    </p>
    <p>
      3.2 En la fecha del evento se emitirá una factura recaudado para liquidar
      el 40% restante del saldo, que deberá ser exigible dentro de los 12 días
      de la fecha de la factura a menos que se indique lo contrario.
    </p>
    <p>
      3.3. Si la factura no se liquida dentro de los 30 días posteriores a la
      fecha de emisión, Greicodex Software C.A. se reserva el derecho de iniciar
      procedimientos legales para recuperar las cuotas pendientes con el cliente
      responsable de Greicodex Software C.A. honorarios legales por hacerlo.&nbsp;
    </p>
    <p>
      3.4 Estos términos y condiciones representará un contrato entre Greicodex
      Software C.A. y cliente de acuerdo con las leyes de Venezuela y
      Bolivia.&nbsp;
    </p>
  </div>
</template>

<script setup>
</script>

<style>
.terms {
  
}
.terms h1 {
  @apply text-indigo-800 text-2xl;
  padding-bottom: 1em;
  text-align: center;
}
.terms h2 {
  @apply text-indigo-700 text-xl ;
  padding-top: 1em;
  padding-bottom: 0.25em;
}
.terms p {
  @apply text-gray-800 text-sm py-1;
}
</style>