<template>
<div v-if="loading">
    <div class="mt-20" >
      <div :class="'relative bg-gray-900 overflow-hidden border-b-2 border-yellow-400'">    
        <div class=" text-center max-w-7xl mx-auto py-8 bg-gray-900 sm:py-16 md:py-20  w-full lg:py-28 xl:py-32 my-10 mx-auto px-4 sm:my-12 sm:px-6 md:my-16 lg:my-20 lg:px-8 xl:my-28">
                <div role="status">
                    <svg class="inline mr-2 w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-yellow-400" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                    </svg>
                    <span class="sr-only">Loading...</span>
                    <p class="mt-2 text-white">Loading...</p>
                </div>
        </div>
      </div>
    </div>
</div>
<div v-else>
  <hero-section
    :bgColor="'bg-gray-900'"
    :imageSrc="`${config.app.buildAssetsDir}${project.img}`"
    :imageAlt="`greicodex-${route.params.slug[0]}-development`"
    class="mt-20"
  >
    <h1
      class="
        text-4xl
        tracking-tight
        font-extrabold
        text-gray-300
        sm:text-5xl
        md:text-6xl
      "
    >
      <span class="block xl:inline text-gray-100 uppercase">{{project.name}} </span>
      <span class="block text-indigo-600 xl:inline uppercase"> PROJECT</span>
    </h1>
    
    <p
      class="
        mt-3
        text-base text-gray-100
        sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto
        md:mt-5 md:text-xl
        lg:mx-0
      "
    >
      {{project.short_description}}
    </p>
  </hero-section>
  <article>
    <div class="py-12 bg-white border-yellow-400">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="">
          <elements-images :images="project.images" />
          <p class="mt-4 max-w-3xl text-xl text-gray-900 lg:mx-auto">Detail</p>
          <p class="mt-4 max-w-3xl text-md text-gray-500 lg:mx-auto">
            {{project.description}}
          </p>
          <p class="mt-4 max-w-3xl text-xl text-gray-900 lg:mx-auto">
            Technologies 
          </p>
          <p class="mt-4 max-w-3xl text-md text-gray-500 lg:mx-auto">
            <ul>
              <li v-for="item in project.technologies" :key="item.key"> {{item.name}}</li>
            </ul>
          </p>
        </div>
        <div class="mt-10">
          <div class="md:grid md:grid-cols-2 pt-5">
            <div class="mt-10 max-w-xl">
              <dl
                class="
                  space-y-10
                  md:space-y-0 md:grid md:grid-cols-1 md:gap-x-8 md:gap-y-10
                "
              >
                <div
                  v-for="feature in FEATURES"
                  :key="feature.name"
                  class="relative"
                >
                  <dt>
                    <div
                      class="
                        absolute
                        flex
                        items-center
                        justify-center
                        h-12
                        w-12
                        rounded-md
                        bg-indigo-500
                        text-white
                      "
                    >
                      {{ feature.icon }}
                    </div>
                    <h3
                      class="ml-16 text-lg leading-6 font-medium text-gray-900"
                    >
                      {{ feature.name }}
                    </h3>
                  </dt>
                  <dd class="mt-2 ml-16 text-base text-gray-500">
                    {{ feature.description }}
                  </dd>
                </div>
              </dl>
            </div>
            <div class="sm:mt-10">
              <elements-contact-form class="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
</template>

<script setup>
import { ref, onBeforeMount, onMounted, onUpdated } from "vue";

import { PROJECTS, FEATURES } from "~~/src/utils/constant";
import Service from "~~/src/utils/services";

const config = useRuntimeConfig();
const route = useRoute();
let project = ref({});
project.value = PROJECTS.find((item) => {
  return item.link == route.params.slug[0];
});
useHead({
    titleTemplate: `Greicodex Project ${project?._rawValue.name}`,
    title: `Greicodex-project-${project?._rawValue.name}`,
    meta: { description: `${project._rawValue.short_descripcion}` },
  });
let loading = ref(false);
// onBeforeMount(async () => {
//   console.log("Cargando.....................", loading);
//   loading.value = true;
//   project.value = await Service.getProyect({ name: route.params.slug[0] });
//   loading.value = false;
//   console.log("End.....................", loading, project._rawValue);
//   useHead({
//     titleTemplate: `Greicodex project ${project?._rawValue.name}`,
//     title: `Greicodex-project-${project?._rawValue.name}`,
//     meta: { description: `${project._rawValue.short_descripcion}` },
//   });
// });

// onMounted(async () => {
//   console.log("pounted", project._rawValue.name);
// });
</script>


<style>
</style>