<template>
  <div>
     <hero-section-page
    bgColor="bg-gray-900"
    :imageSrc="config.app.buildAssetsDir +'assets/images/greicodex-cryptocurrencies-1097946.jpg'"
    imageAlt="greicodex-mobile-development"
    class="mt-20"
  >
      <elements-head-page :name="'Project'" :breadcrumbs="breadcrumbs"></elements-head-page>
  </hero-section-page>
    <projects-column-section />
    <cta-section />
  </div>
</template>


<script setup>
useHead({
  titleTemplate: "Greicodex Projects",
  meta: { description: " This is a new description" },
});
const config = useRuntimeConfig();
const route = useRoute();
const breadcrumbs= ref([{name:"Project",link:"",active:true}]);

</script>