<template>
  <hero-section-page
    class="mt-20"
    :bgColor="'bg-gray-900'"
    :imageSrc="
      
      'assets/images/greicodex-data-integration-577210.jpg'
    "
    imageAlt="greicodex-mobile-development"
  >
    <elements-head-page
        :name="solution.name"
        :breadcrumbs="breadcrumbs"
      ></elements-head-page>
  </hero-section-page>
  <article>
    <div class="py-12 bg-white border-yellow-400">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="">
          <p class="mt-4 text-md text-gray-500">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsam voluptate officiis enim laborum odio et fuga, explicabo ex facilis veniam eius ea? Iusto ratione molestiae amet harum quaerat! Ea? Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi mollitia tempore reprehenderit officia suscipit accusamus! Aliquam repellat ut, tempora dolorem illo, excepturi ducimus assumenda officiis debitis autem tenetur aperiam saepe.
          </p>
          <div
            class="self-center text-center w-1/3"
          >
            <div class="w-full p-1 md:p-2 ">
              <img
                alt="gallery"
                class="
                  block
                  object-cover object-center
                  w-full
                  h-full
                  rounded-lg
                  border-2
                  cursor-pointer
                  text-center
                "
                :src="`${config.app.buildAssetsDir}assets/images/project/150.png`"
              />
                <!-- @click="openModal(image, index)" -->
            </div>
          </div>
          <!-- <elements-images class="text-center" :images="images" /> -->
          <p class="mt-4 text-md text-gray-500">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsam voluptate officiis enim laborum odio et fuga, explicabo ex facilis veniam eius ea? Iusto ratione molestiae amet harum quaerat! Ea? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci vero omnis voluptatum minima. Veritatis nihil sapiente ad labore, cumque explicabo harum aspernatur reprehenderit fugiat repudiandae blanditiis qui laborum! Perferendis, debitis!
          </p>
        </div>
      </div>
    </div>
  </article>
</template>
<script setup>
import { ref } from "vue";
import { HEADERS } from "~~/src/utils/constant";
const config = useRuntimeConfig();
const route = useRoute();
let header = ref({});
let solution = ref({});
let breadcrumbs = ref([]);
header.value = HEADERS.find((item) => {
  return item?.name == "Solutions";
});
solution.value = header?._rawValue?.children?.find((item) => {
  return item.href == route.params.slug[0];
});
breadcrumbs = [
  { name: "Solution", link: "/solution", active: false },
  {
    name: solution._rawValue.name,
    link: "/solution/" + solution._rawValue.href,
    active: true,
  },
];

const images=ref([
      { key: 1, src: "assets/images/project/sirfunding1.png", },
      // { key: 2, src: "assets/images/project/sirfunding2.png", },
      // { key: 3, src: "assets/images/project/sirfunding3.png", },
      // { key: 4, src: "assets/images/project/sirfunding4.png", }
    ])
console.log("----", breadcrumbs);
</script>
