<template>
  <hero-section-page
    class="mt-20"
    :bgColor="'bg-gray-900'"
    :imageSrc="
      
      'assets/images/greicodex-data-integration-577210.jpg'
    "
    imageAlt="greicodex-mobile-development"
  >
    <!-- <elements-head-page :name="'CONTACT'" :breadcrumbs="breadcrumbs"></elements-head-page> -->
    <h1 class="text-4xl tracking-tight font-extrabold text-gray-300">
      <!-- sm:text-5xl
        md:text-6xl -->
      <span class="block xl:inline text-gray-100">CONTACT</span>
      <nav
        class="
          items-center
          px-5
          py-3
          text-gray-700
        "
        aria-label="Breadcrumb"
      >
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
          <li class="inline-flex items-center ">
            <a
              href="/"
              class="
                inline-flex
                items-center
                text-sm
                font-medium
                text-indigo-600
                hover:text-gray-100
                dark:text-gray-400 dark:hover:text-white
                font-bold
              "
            >
              <svg
                class="w-4 h-4 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                ></path>
              </svg>
              Home
            </a>
          </li>
          <li aria-current="page">
            <div class="flex items-center">
              <svg
                class="w-6 h-6 text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span
                class="
                  ml-1
                  text-sm
                  font-medium
                  text-gray-300
                  md:ml-2
                  dark:text-gray-400
                "
                >Contact</span
              >
            </div>
          </li>
        </ol>
      </nav>
      <!-- <span class="block text-indigo-800 inline ">Inicio</span>
      *<span class="block text-indigo-800 inline ">Contact</span>  -->
    </h1>
  </hero-section-page>
  <article>
    <div class="py-12 bg-white border-yellow-400">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
          <!-- <h1 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">Why Greicodex?</h1>
        <h2 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">A better way to create software</h2> -->
          <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
            maxime repudiandae doloremque provident sapiente quisquam officia
            exercitationem ratione, delectus totam earum ullam aut nesciunt
            magnam a accusantium aliquid. Beatae, voluptatibus!
          </p>
        </div>
        <div class="md:grid md:grid-cols-1 pt-10">
          <elements-contact-form class="" />
        </div>
      </div>
    </div>
  </article>
</template>

<script setup>
useHead({
  titleTemplate: "Web Development",
  meta: { description: " This is a new description" },
});
const breadcrumb=[{name:'solution',link:"/solution"}]
const config = useRuntimeConfig();
const route = useRoute();
const features = [
  {
    name: "We understand you",
    description:
      "We simplify the problem statement by dividing it into small digestible bits so you understand what we are doing and what the problem is. Our primary focus while solving a problem for any business is to solve it in a customer-centric and scalable approach.",
    icon: "01",
  },
  {
    name: "Digital products used by thousands",
    description:
      "We'll create a website that is not only engaging, interactive and fast but also sells. By discussion and analysis, we'll get to know its customers and purpose. We'll help you create content and propose an original and functional design that we'll program. A website is no good without visitors, so we'll advise you how to get them there and test it to make the most of it.",
    icon: "02",
  },
  {
    name: "Right in your market",
    description:
      "Our unique competence in various technologies enables us to deliver integrated, scalable, robust solutions with the optimal cost/performance ratio. We constantly conduct research on new technology products to meet the ever-growing needs of our customers",
    icon: "03",
  },
  {
    name: "More than a mere service provider",
    description:
      "Maybe you have a good idea and no time to explore your options. Let's sit down and see how we can help. We don't propose complicated solutions to earn money. We'll help you to find the most effective solution, so our service isn't a black hole for your funds.",
    icon: "04",
  },
];
</script>

<style>
</style>