<template>

  <hero-section-page
    class="mt-20"
    :bgColor="'bg-gray-900'"
    :imageSrc="`
      ${config.app.buildAssetsDir}/assets/images/greicodex-data-integration-577210.jpg
    `"
    imageAlt="greicodex-mobile-development"
  >
    <elements-head-page :name="'Contact'" :breadcrumbs="breadcrumbs"></elements-head-page>

  </hero-section-page>
  <article>
    <div class="py-12 bg-white border-yellow-400">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
        <h1 class="mt-2 text-2xl leading-8 font-extrabold tracking-tight text-indigo-600 sm:text-4xl">CONTACT US</h1>
          <h1 class="text-2xl  text-gray-900  font-semibold tracking-wide "> Let's Talk </h1>
          <!-- <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
            maxime repudiandae doloremque provident sapiente quisquam officia
            exercitationem ratione, delectus totam earum ullam aut nesciunt
            magnam a accusantium aliquid. Beatae, voluptatibus!
          </p> -->
        </div>
        <div class="md:grid md:grid-cols-1 pt-10">
          <elements-contact-form class="" />
        </div>
      </div>
    </div>
  </article>
</template>

<script setup>
useHead({
  titleTemplate: "Greicodex Contact",
  meta: { description: " This is a new description" },
});
const config = useRuntimeConfig();
const route = useRoute();
// const breadcrumb=[{name:"Solution",link:"/solution"},{name:}]
const features = [
  {
    name: "We understand you",
    description:
      "We simplify the problem statement by dividing it into small digestible bits so you understand what we are doing and what the problem is. Our primary focus while solving a problem for any business is to solve it in a customer-centric and scalable approach.",
    icon: "01",
  },
  {
    name: "Digital products used by thousands",
    description:
      "We'll create a website that is not only engaging, interactive and fast but also sells. By discussion and analysis, we'll get to know its customers and purpose. We'll help you create content and propose an original and functional design that we'll program. A website is no good without visitors, so we'll advise you how to get them there and test it to make the most of it.",
    icon: "02",
  },
  {
    name: "Right in your market",
    description:
      "Our unique competence in various technologies enables us to deliver integrated, scalable, robust solutions with the optimal cost/performance ratio. We constantly conduct research on new technology products to meet the ever-growing needs of our customers",
    icon: "03",
  },
  {
    name: "More than a mere service provider",
    description:
      "Maybe you have a good idea and no time to explore your options. Let's sit down and see how we can help. We don't propose complicated solutions to earn money. We'll help you to find the most effective solution, so our service isn't a black hole for your funds.",
    icon: "04",
  },
];
const breadcrumbs= ref([{name:"Contact",link:"",active:true}]);

</script>

<style>
</style>