<template>  
  <article >
    <section v-for="section in pageData.body.sections">
      <component :is="section.component" :data="section.data" />
    </section>
     
  </article>
</template>

<script setup>
useHead({ titleTemplate: " TEST 2" });
const config = useRuntimeConfig();
const route = useRoute();

const { data:pageData } = await useAsyncData( 'pageData', () => $fetch( `/product/${route.params.slug[0]}.json`) );
</script>

<style>

</style>