<template>
  <hero-section 
    class="mt-20"
    :imageSrc="'/assets/images/pexels-thisisengineering-3861958.jpg'" 
    imageAlt="Greicodex Working"
    bgColor="bg-white"
    >
    <h1
      class="
        text-4xl
        tracking-tight
        font-extrabold
        text-gray-300
        sm:text-5xl
        md:text-6xl
      "
    >
      <span class="block xl:inline text-gray-900">AGILE SOFTWARE </span>
      {{ " " }}
      <span class="block text-indigo-600 xl:inline">DEVELOPMENT SERVICES</span>
    </h1>
    <p
      class="
        mt-3
        text-base text-gray-500
        sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto
        md:mt-5 md:text-xl
        lg:mx-0
      "
    >
      Complete Nearshore software outsourcing for organizations of any size.
      Request a quote to find out if we'd make a great fit!. Request a quote to
      find out if we'd make a great fit!      
    </p>
    <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
      <elements-hero-button primary="true" href="#">Get Started</elements-hero-button>
      <elements-hero-button href="#">Live demo</elements-hero-button>
    </div>
  </hero-section>
  <article>
    <benefits-section />
    <services-column-section />
    <projects-column-section />
    <!-- <elements-contact-form  /> -->
    <cta-section />
  </article>
</template>

<script setup>
useHead({
    titleTemplate: `Greicodex`,
    title: `Greicodex`,
    meta: { description: `Software development company` },
  });
const config = useRuntimeConfig();
const route = useRoute();
</script>


<style>
</style>