<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="py-12 bg-white border-yellow-400" id="about-us">
    <div class="mt-20 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <h1 class="text-base text-indigo-200 font-semibold tracking-wide uppercase">Why Greicodex?</h1>
        <h2 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-300 sm:text-4xl">A better way to create software</h2>
        <p class="mt-4 max-w-2xl text-xl text-gray-100 lg:mx-auto">
          Whether it's a long-term project, stand-alone project or an extension of your in house team of developers, 
          Greicodex Software can provide you with a spectrum of software needs. Bold innovative ideas don't have to be 
          expensive to develop. In an age of globalized technological advances expertise can be found across the globe.</p>
      </div>

      <div class="mt-10">
        <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
          <div v-for="feature in features" :key="feature.name" class="relative bg-white p-2 rounded-md">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                <component :is="feature.icon" class="h-6 w-6" aria-hidden="true" />
              </div>
              <h3 class="ml-16 text-lg leading-6 font-medium text-gray-900">{{ feature.name }}</h3>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              {{ feature.description }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</template>

<script setup>
import { AnnotationIcon, GlobeAltIcon, LightningBoltIcon, ScaleIcon, HeartIcon } from '@heroicons/vue/outline'

const features = [
  {
    name: 'Competitive rates',
    description:
      'Greicodex Software has a team of highly skilled developers who can provide you with the best quality software at a fraction of the cost of what you would pay in the US or Europe.',
    icon: GlobeAltIcon,
  },
  {
    name: 'No hidden fees',
    description:
      'The price we quote is the price you pay. We have a team of in-house developers who work on your project from start to finish. We do not have any hidden fees or costs and we will never outsource your project to another company.',
    icon: ScaleIcon,
  },
  {
    name: 'Best practices',
    description:
      'Greicodex Software adheres to the highest standards of software development. We follow an iterative and agile development process that helps us deliver quality software on time and within budget.',
    icon: LightningBoltIcon,
  },
  {
    name: 'Constant Communication',
    description:
      'We understand the importance of constant communication with our clients. We use the latest communication tools to keep our clients updated on the progress of their project. We also provide direct support lines to our clients during their business hours so they can always reach us when they need to.',
    icon: AnnotationIcon,
  },
  {
    name: '100% Satisfaction Guarantee',
    description:
      'Greicodex Software is so confident in the quality of our work that we offer a 100% satisfaction guarantee. If you are not happy with the final product, we will make the necessary changes to make sure you are satisfied.',
    icon: HeartIcon,
  }
]
</script>
<style >
.grad {
  @apply bg-gradient-to-r from-indigo-900 to-blue-500;  
}
  #about-us {
  padding: 2em;
  background-image: url("~/assets/images/solutions_gb.png");
  background-size: cover;
}
</style>