<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="py-12" id="services">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <h2
          class="
            text-base text-indigo-200
            font-semibold
            tracking-wide
            uppercase
          "
        >
          Services
        </h2>
        <p
          class="
            mt-2
            text-3xl
            leading-8
            font-extrabold
            tracking-tight
            text-gray-100
            sm:text-4xl
          "
        >
          A better way to create software
        </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-300 lg:mx-auto">
          Whether it's a long-term project, stand-alone project or an extension
          of your in house team of developers, Greicodex Software can provide
          you with a spectrum of software needs. Bold innovative ideas don't
          have to be expensive to develop. In an age of globalized technological
          advances expertise can be found across the globe.
        </p>
      </div>

      <div class="mt-20">
        <dl
          class="
            space-y-10
            md:space-y-0 md:grid md:grid-cols-3 md:gap-x-8 md:gap-y-10
            relative
            flex flex-col
            items-center
            justify-center            
          "
        >
          <div
            v-for="feature in features"
            :key="feature.name"
            class="
              relative
              rounded-md
              flex flex-col
              items-center
              justify-center
              bg-white
              p-2
              h-96
            "
          >
            
            <div class="relative flex flex-col items-center justify-center">
              <div class="h-48 w-48 text-indigo-900 bg-transparent ">
              <component
                :is="feature.icon"
                class="h-auto w-auto p-2 "
                aria-hidden="true"
              />
            </div>
              <dt class="justify-center">                
                {{ feature.name }}
              </dt>
              <dd class="m-2 font-small text-base text-gray-500">
                {{ feature.description }}
                <div>
                  <a :href="'service/'+feature.link" class="text-xs text-indigo-500">Read more...</a>
                </div>
              </dd>
              
            </div>
          </div>
        </dl>
      </div>
    </div>
  </div>
</template>

<script setup>
import {
  OfficeBuildingIcon,
  UsersIcon,
  TerminalIcon,
  ServerIcon,
  BadgeCheckIcon,
  DatabaseIcon,
  DesktopComputerIcon,
  DeviceMobileIcon,
  LinkIcon,
  ExternalLinkIcon,
  CloudIcon,
} from "@heroicons/vue/outline";

const features = [
  {
    name: "Web Development",
    description:
      "We build high-performance, secure and scalable web applications, which are tailor-made to customer requirements.",
    icon: DesktopComputerIcon,
    link: "web-development"
  },
  {
    name: "Mobile Development",
    description:
      "Globally, mobile technology has emerged as a primary engine of economic growth. We can help you build responsive and user-friendly mobile applications for Android and iOS.",
    icon: DeviceMobileIcon,
    link: "mobile-development"
  },
  {
    name: "Blockchain Development",
    description:
      "Tap into the power of blockchains. We build high-performance, secure and scalable Web 3.0 applications, which are tailor-made to customer requirements. ",
    icon: LinkIcon,
    link: "blockchain-development"
  },
  {
    name: "Machine Learning Solutions",
    description:
      "We offer machine learning and AI solutions that can be used to solve various business problems.",
    icon: OfficeBuildingIcon,
    link: "machine-learning"
  },
  {
    name: "Data Integration",
    description:
      "Data is the new oil and we have the right team of data scientists to help you turn your data into insights.",
    icon: DatabaseIcon,
    link: "data-integration"
  },
  {
    name: "Project Rescuing",
    description:
      "If your project is in trouble, our team of experts will help you get it back on track in no time.",
    icon: BadgeCheckIcon,
    link: "project-rescuing"
  },
  {
    name: "DevOps",
    description:
      "We help you automate and streamline your software development and delivery process.",
    icon: ServerIcon,
    link: "devops"
  },
  {
    name: "Outsource Teams",
    description:
      "Having your software team geographically close comes with many advantages. While we provide a significant cost advantage we share the same time zone, work culture and communication standards, allowing maximum productivity. ",
    icon: UsersIcon,
    link: "outsource-teams"
  },
  {
    name: "Enterprise Solutions",
    description:
      "We develop enterprise solutions that are robust, scalable and secure, and help businesses automate their processes, improve their efficiency and increase their bottom line.",
    icon: OfficeBuildingIcon,
    link: "enterprise-solutions"
  },
  {
    name: "Cloud Solutions",
    description:
      "We can help you migrate to the cloud and take advantage of the many benefits it has to offer.",
    icon: CloudIcon,
    link: "cloud-solutions"
  },
];
</script>
<style>
.grad {
  @apply bg-gradient-to-r from-indigo-900 to-blue-500;  
}
/* #services {
  padding: 2em;
  background-image: url("~/assets/images/solutions_gb.png");
  background-size: cover;
} */
</style>