<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div :class="'relative '+props.bgColor+' overflow-hidden border-b-2 border-yellow-400'">    
    <div class=" mx-auto">
      <div :class="'relative z-1 pb-8 '+props.bgColor+' sm:pb-16 md:pb-20  lg:w-full lg:pb-28 xl:pb-32'">
        <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
          <div class="sm:text-center ">
            <slot></slot>
          </div>
        </main>
      </div>
    </div>
    <!-- <div class="lg:absolute lg:inset-y-0 lg:left-0 ">
      <img class="mask h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" :src="props.imageSrc" :alt="props.imageAlt" />
    </div> -->
  </div>
</template>

<script setup>
import { Popover, PopoverButton, PopoverPanel } from '@headlessui/vue'
import { MenuIcon, XIcon } from '@heroicons/vue/outline'
const props = defineProps(['imageSrc','imageAlt','bgColor']);
props.bgColor = props.bgColor || 'bg-white';
</script>
<style>
.mask {
    mask-image: linear-gradient(90deg, transparent,10% , black );
}
</style>