<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="py-12" id="projects">
    <div class="mt-20  max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <h2
          class="
            text-base text-indigo-200
            font-semibold
            tracking-wide
            uppercase
          "
        >
          Projects
        </h2>
        <p
          class="
            mt-2
            text-3xl
            leading-8
            font-extrabold
            tracking-tight
            text-gray-100
            sm:text-4xl
          "
        >
          A better way to create software
        </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-300 lg:mx-auto">
          Whether it's a long-term project, stand-alone project or an extension
          of your in house team of developers, Greicodex Software can provide
          you with a spectrum of software needs. Bold innovative ideas don't
          have to be expensive to develop. In an age of globalized technological
          advances expertise can be found across the globe.
        </p>
      </div>

      <div class="mt-20">
        <dl
          class="
            space-y-10
            md:space-y-0 md:grid md:grid-cols-3 md:gap-x-8 md:gap-y-10
            relative
            flex flex-col
            items-center
            justify-center
          "
        >
          <a
           v-for="feature in PROJECTS"
            :key="feature.name"
          >
            <!-- :href="'/project/' + feature.link" -->
            <div
              class="
                relative
                rounded-md
                flex flex-col
                items-center
                justify-center
                bg-white
                p-2
                h-86
                cursor-pointer
              "
            >
              <div class="relative flex flex-col items-center justify-center">
                <div class="h-40 w-40 text-indigo-900 bg-transparent">
                  <!-- <component
                    :is="feature.img"
                    class="h-auto w-auto p-2"
                    aria-hidden="true"
                  /> -->
                  <img class="h-auto w-auto p-2" :src="`${feature.img}`" :alt="feature.name">
                </div>
                <dt class="justify-center">
                  {{ feature.name }} 
                </dt>
                <dd class="m-2 font-small text-base text-gray-500">
                  {{ feature.description.substring(0, 100) }}
                  <a :href="'project/' + feature.link"
                    class="text-xs text-indigo-500"
                  >
                  Read more...</a>
                  <!-- <NuxtLink
                    :to="'project/' + feature.link"
                    class="text-xs text-indigo-500"
                    >Read more...</NuxtLink> -->
                   
                </dd>
              </div>
            </div>
          </a>
        </dl>
      </div>
    </div>
  </div>
</template>

<script setup>
import { PROJECTS } from "~~/src/utils/constant";
const config = useRuntimeConfig();

</script>
<style>
.grad {
  @apply bg-gradient-to-r from-indigo-900 to-blue-500;
}
#projects {
  padding: 2em;
  background-image: url("~/assets/images/solutions_gb.png");
  background-size: cover;
}
</style>