<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="py-12 bg-white  border-yellow-400" id="services">
    <div class="mt-20  max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <h2
          class="
            text-base text-indigo-600
            font-semibold
            tracking-wide
            uppercase
          "
        >
          Services 
        </h2>
        <p
          class="
            mt-2
            text-3xl
            leading-8
            font-extrabold
            tracking-tight
            text-gray-900
            sm:text-4xl
          "
        >
          A better way to create software
        </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
          Whether it's a long-term project, stand-alone project or an extension
          of your in house team of developers, Greicodex Software can provide
          you with a spectrum of software needs. Bold innovative ideas don't
          have to be expensive to develop. In an age of globalized technological
          advances expertise can be found across the globe.
        </p>
      </div>

      <div class="mt-20">
        <dl
          class="
            space-y-10
            md:space-y-0 md:grid md:grid-cols-3 md:gap-x-8 md:gap-y-10
            relative
            flex flex-col
            items-center
            justify-center            
          "
        >
          <div
            v-for="feature in SERVICES"
            :key="feature.name"
            class="
              relative
              rounded-md
              flex flex-col
              items-center
              justify-center
              bg-white
              p-2
              h-86
              border-indigo-500
              border-2
            "
          >
          <a :href="`service/${feature.link}`">
            <div class="relative flex flex-col items-center justify-center">
              <div class="h-40 w-40 text-indigo-900 bg-transparent ">
              <component
                :is="feature.icon"
                class="h-auto w-auto p-2 "
                aria-hidden="true"
              />
            </div>
              <dt class="justify-center">                
                {{ feature.name }}
              </dt>
              <dd  class="m-2 font-small text-base text-gray-500">
                {{ feature.description.substring(0,100) }} <a :href="`service/${feature.link}`" class="text-xs text-indigo-800">Read more...</a>
              </dd>
              
            </div>
          </a>

          </div>
        </dl>
      </div>
    </div>
  </div>
</template>

<script setup>
import {
  OfficeBuildingIcon,
  UsersIcon,
  TerminalIcon,
  ServerIcon,
  BadgeCheckIcon,
  DatabaseIcon,
  DesktopComputerIcon,
  DeviceMobileIcon,
  LinkIcon,
  ExternalLinkIcon,
  CloudIcon,
} from "@heroicons/vue/outline";
import { SERVICES } from "~~/src/utils/constant";
</script>
<style>
.grad {
  @apply bg-gradient-to-r from-indigo-900 to-blue-500;  
}
#services {
  padding: 2em;
  /* background-image: url("~/assets/images/solutions_gb.png"); */
  /* background-size: cover; */
}
</style>