<template>
  <div class="antialiased text-white px-6 drop-shadow-lg bg-indigo-900 rounded-lg">
    <div class="max-w-xl mx-auto py-12 md:max-w-4xl">
      <h2 class="text-2xl font-bold">Get Started Today!
        In just 3 steps
</h2>
      <p class="mt-2 text-lg text-grey-500">
        <ol>
            <li><span>1</span> Fill out the form or call (Venezuela) +58 212 750.2137 / 762.9120 / 761.8071</li>
            <li><span>2</span> Sign a Non Disclosure Agreement</li>
            <li><span>3</span> Get your Development Team</li>
        </ol>
      </p>
      <form  method="post">
      <div class="mt-8 grid grid-cols-1 gap-6 items-start">
        <div class="grid grid-cols-1 gap-6">
            <label class="block">
            <span class="text-gray-700">Name:</span>
            <input
              type="text"
              class="form-input mt-1 block w-full "
              placeholder="Name"
            />
          </label>
          <label class="block">
            <span class="text-gray-700">Phone:</span>
            <input
              type="tel"
                multiple
              class="form-input mt-1 block w-full"
              placeholder="Phone"
            />
          </label>
          <label class="block">
            <span class="text-gray-700">Email:</span>
            <input
              type="email"
              class="form-input mt-1 block w-full"
              placeholder="Email"
            />
          </label>
          <label class="block">
            <span class="text-gray-700">Company:</span>
            <input
              type="text"
              class="form-input mt-1 block w-full"
              placeholder="Company"
            />
          </label>
          <label class="block">
            <span class="text-gray-700">Message:</span>
            <textarea
                class="form-textarea mt-1 block w-full h-24"
                rows="3"
                placeholder="Enter your questions, details, etc."
              ></textarea>
          </label>
          <div class="mt-3 sm:mt-0 ">
              <a href="#" class="w-32 flex items-center justify-center py-3 border 
              border-transparent text-base font-medium rounded-md text-indigo-700 bg-indigo-100
               hover:bg-indigo-200 md:py-4 md:text-lg ">Submit</a>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</template>
<script setup>
    // function send(){
    //     console.log("ghola ")
    // }
</script>
<style scoped>
ol > li > span {
  @apply bg-yellow-400 rounded-full text-indigo-900 px-2 font-bold;
}
label > span {
  display: none;
}
input {
  @apply rounded-md bg-gray-100 border-transparent focus:!border-yellow-400 focus:bg-white focus:ring-0 pl-2 py-3 md:py-4;
  @apply md:text-lg;
}
textarea {
  @apply rounded-md bg-gray-100 border-transparent focus:!border-yellow-400 focus:bg-white focus:ring-0 pl-2 py-3 md:py-4;
  @apply md:text-lg;
}
</style>