<template>
  <div   
    class="
      relative
      rounded-md
      flex flex-col
      items-center
      justify-center
      bg-white
      p-2
      h-96
    "
  >
    <div class="relative flex flex-col items-center justify-center">
      <div class="h-48 w-48 text-indigo-900 bg-transparent">
        <component
          :is="props.icon"
          class="h-auto w-auto p-2"
          aria-hidden="true"
        />
      </div>
      <dt class="justify-center">
        {{ props.name }}
      </dt>
      <dd class="m-2 font-small text-base text-gray-500">
        {{ props.description }}
        <div>
          <a :href="props.link" class="text-xs text-indigo-500"
            >Read more...</a
          >
        </div>
      </dd>
    </div>
  </div>
</template>
<script setup>
import {
  OfficeBuildingIcon,
  UsersIcon,
  TerminalIcon,
  ServerIcon,
  BadgeCheckIcon,
  DatabaseIcon,
  DesktopComputerIcon,
  DeviceMobileIcon,
  LinkIcon,
  ExternalLinkIcon,
  CloudIcon,
} from "@heroicons/vue/outline";
const props = defineProps(['icon','name','description','link']);
</script>