<template>
  <div>
    <!-- <footer class="p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://flowbite.com" class="hover:underline">Flowbite™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contact</a>
        </li>
    </ul>
</footer> -->
    <footer class="text-center lg:text-left bg-indigo-900 text-white pt-20">
      <!-- <div
        class="
          flex
          justify-center
          items-center
          lg:justify-between
          p-6
          border-b border-indigo-900
        "
      >
        <div class="mr-12 hidden lg:block">
          <span>Get connected with us on social networks:</span>
        </div>
        <div class="flex justify-center">
          <a
            v-for="(social, index) in SOCIAL_NETWORK"
            :key="index"
            :href="social.link"
            class="mr-6 text-white"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fab"
              :data-icon="social.icon"
              :class="social.classIcon"
              :viewBox="social.viewBox"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path fill="currentColor" :d="social.d"></path>
            </svg>
          </a>
        </div>
      </div> -->
      <div class="mx-6 py-5 text-center md:text-left bg-indigo-900 text-white">
        <div class="grid grid-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
          <div class="">
            <h6
              class="
                uppercase
                font-semibold
                mb-4
                flex
                items-center
                justify-center
                md:justify-start
              "
            >
              <img
                class="h-8 w-auto sm:h-10"
                src="~/assets/images/Logo-101@2x.png"
                alt=""
              />
            </h6>
            <p>
              We are that we repeatedly do. excellence, then, is not a act, but
              an habit. -Aristotle
            </p>
            <p class="mt-5">
              <span>Get connected with us on social networks:</span>
            </p>
            <div class="flex justify-center mt-5">
              <a
                v-for="(social, index) in SOCIAL_NETWORK"
                :key="'icon-' + index"
                :href="social.link"
                target="_blank"
                class="
                  flex
                  text-indigo-900
                  bg-white
                  rounded-full
                  hover:bg-yellow-400
                  items-center
                  place-items-center
                  px-1
                  py-1
                  mx-1
                  h-6
                  hover:w-15
                "
                v-on:mouseover="mouseover(index)"
                v-on:mouseleave="mouseleave()"
              >
                  <!-- hover:grow -->
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fab"
                  :data-icon="social.icon"
                  :class="social.classIcon"
                  :viewBox="social.viewBox"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path fill="currentColor" :d="social.d"></path>
                </svg>
                <small v-if="index==_index" class="text-sm"> {{ social.name }}</small>
              </a>
            </div>
          </div>
          <div class="">
            <h6
              class="
                uppercase
                font-semibold
                mb-4
                flex
                justify-center
                md:justify-start
              "
            >
              Services
            </h6>
            <p v-for="(service, index) in SERVICES" :key="index" class="mb-1">
              <a
                :href="'/service/' + service.link"
                class="text-white hover:text-yellow-400 hover:font-bold"
                >{{ service.name }}</a
              >
            </p>
          </div>
          <div class="">
            <h6
              class="
                uppercase
                font-semibold
                mb-4
                flex
                justify-center
                md:justify-start
              "
            >
              Useful links
            </h6>
            <p
              class="mb-1 hover:text-yellow-400"
              v-for="(item, index) in HEADERS"
              :key="index"
            >
              <a
                :href="
                  route.name == 'index'
                    ? `${item.href}`
                    : item.href == '/'
                    ? `${item.href}`
                    : `/${item.href}`
                "
                class="text-white hover:text-yellow-400 hover:font-bold"
                >{{ item.name }}</a
              >
            </p>
          </div>
          <div class="">
            <h6
              class="
                uppercase
                font-semibold
                mb-4
                flex
                justify-center
                md:justify-start
              "
            >
              Contact
            </h6>
            <p class="flex items-center justify-center md:justify-start mb-1">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="home"
                class="
                  sm:w-7 sm:h-7
                  md:w-12 md:h-12
                  lg:w-17 lg:h-17
                  xl:w-22 xl:h-22
                  mr-4
                "
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
              >
                <path
                  fill="currentColor"
                  d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"
                ></path>
              </svg>
              <small class="font-small"> {{ CONTACT.address }}</small>
            </p>
            <p
              v-for="(email, index) in CONTACT.emails"
              :key="'email-' + index"
              class="flex items-center justify-center md:justify-start mb-1"
            >
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="envelope"
                class="w-4 mr-4"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  fill="currentColor"
                  d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
                ></path>
              </svg>
              <small class="font-small"> {{ email }}</small>
            </p>
            <p
              v-for="(phone, index) in CONTACT.phones"
              :key="'phone-' + index"
              class="flex items-center justify-center md:justify-start mb-1"
            >
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="phone"
                class="h-4 w-4 mr-4"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  fill="currentColor"
                  d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                ></path>
              </svg>
              <small> {{ phone }}</small>
            </p>
          </div>
        </div>
      </div>
      <div class="text-center p-6">
        <span>© 2021 Copyright:</span>
        <a class="text-white font-semibold">Greicodex</a>
      </div>
    </footer>
  </div>
</template>

<script setup>
const route = useRoute();
import { ref } from "vue";
const _index = ref(-1);
function mouseover(index) {
  _index.value = index;
}
function mouseleave() {
  _index.value = -1;
}
import {
  OfficeBuildingIcon,
  UsersIcon,
  TerminalIcon,
  ServerIcon,
  BadgeCheckIcon,
  DatabaseIcon,
  DesktopComputerIcon,
  DeviceMobileIcon,
  LinkIcon,
  BeakerIcon,
  ExternalLinkIcon,
  CloudIcon,
} from "@heroicons/vue/outline";
import {
  SERVICES,
  CONTACT,
  SOCIAL_NETWORK,
  HEADERS,
} from "~~/src/utils/constant";
</script>

<style>
</style>