<template>
  <h1 class="text-4xl tracking-tight font-extrabold text-gray-300">
    <!-- sm:text-5xl
        md:text-6xl -->
    <span class="block xl:inline text-gray-100 uppercase">{{name}}</span>
    <nav class="items-center px-5 py-3 text-gray-700" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li  class="inline-flex items-center">
          <a
            href="/"
            :class="`
              inline-flex
              items-center
              text-sm
              font-medium
              text-indigo-600
              hover:text-gray-100
              dark:text-gray-400 dark:hover:text-white
              font-bold`
            "
          >
            <svg
              class="w-4 h-4 mr-2"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
              ></path>
            </svg>
            Home
          </a>
        </li>
        <li v-for="(breadcrumb,index) in breadcrumbs" :key="index" aria-current="page">
          <div class="flex items-center">
            <svg
              
              :class="`w-6 h-6 ${breadcrumb?.active?'text-gray-400':'text-indigo-600'}`"
              
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span
              :class="
                `ml-1
                text-sm
                font-medium
                ${breadcrumb?.active?'text-gray-400':'text-indigo-600'}

                md:ml-2
                dark:text-gray-400`
              "
              >{{breadcrumb?.name??""}}</span
            >
          </div>
        </li>
      </ol>
    </nav>
    <!-- <span class="block text-indigo-800 inline ">Inicio</span>
      *<span class="block text-indigo-800 inline ">Contact</span>  -->
  </h1>
</template>
<script setup>
const props = defineProps(['name','breadcrumbs']);
</script>