<template>
    <div v-if="primary" class="rounded-md shadow">
        <a
          :href="props.href"
          class="
            w-full
            flex
            items-center
            justify-center
            px-8
            py-3
            border border-transparent
            text-base
            font-medium
            rounded-md
            text-white
            bg-indigo-600
            hover:bg-indigo-700
            md:py-4 md:text-lg md:px-10
          "
        >
          <slot></slot>
        </a>
      </div>
      <div v-else class="mt-3 sm:mt-0 sm:ml-3">
        <a
          :href="props.href"
          class="
            w-full
            flex
            items-center
            justify-center
            px-8
            py-3
            border border-transparent
            text-base
            font-medium
            rounded-md
            text-indigo-700
            bg-indigo-100
            hover:bg-indigo-200
            md:py-4 md:text-lg md:px-10
          "
        >
          <slot></slot>
        </a>
      </div>
</template>
<script setup>
const props = defineProps(['href','primary']);
</script>
