<template>
  <div>
    <section class="overflow-hidden text-gray-700">
      <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
        <div class="flex flex-wrap -m-1 md:-m-2">
          <div
            class="flex flex-wrap w-1/3"
            v-for="(image, index) in images"
            :key="index"
          >
            <div class="w-full p-1 md:p-2 ">
              <img
                class="
                  block
                  object-cover object-center
                  w-full
                  h-full
                  rounded-lg
                  border-2
                  cursor-pointer
                "
                :src="`${image.src}`"
                :alt="`${image.key}`"

                @click="openModal(image, index)"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <TransitionRoot appear :show="isOpen" v-if="isOpen" as="template">
      <Dialog as="div" @close="closeModal" class="relative z-10">
        <div class=" min-h-screen min-w-screen">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>
        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="
                  w-full max-w-4xl
               
                  transform
                  overflow-hidden
                  rounded-lg
                  bg-white
                  text-left
                  align-middle
                  shadow-xl
                  transition-all
                "
              >
                <!-- <DialogTitle
                  as="h3"
                  class="text-lg font-medium leading-6 text-gray-900"
                >
                  Payment successful
                </DialogTitle> -->
                <div class="">
                    <!-- `${config.app.buildAssetsDir}${showImage.src}` -->
                  <img
                    :src="`${showImage.src}`"
                    :alt="`${showImage.key}`"
                    class="
                      block
                      object-cover object-center
                      w-full
                      h-full
                      rounded-lg
                    "
                  />
                  <button
                    @click="backImage(showImage.key - 1)"
                    type="button"
                    class="
                      flex
                      absolute
                      top-0
                      left-0
                      z-30
                      justify-center
                      items-center
                      px-4
                      h-full
                      cursor-pointer
                      group
                      focus:outline-none
                    "
                    data-carousel-prev
                  >
                    <span
                      class="
                        inline-flex
                        justify-center
                        items-center
                        w-8
                        h-8
                        rounded-full
                        sm:w-10 sm:h-10
                        bg-white/30
                        dark:bg-gray-800/30
                        group-hover:bg-white/50
                        dark:group-hover:bg-gray-800/60
                        group-focus:ring-4 group-focus:ring-white
                        dark:group-focus:ring-gray-800/70
                        group-focus:outline-none
                      "
                    >
                      <svg
                        aria-hidden="true"
                        class="
                          w-5
                          h-5
                          text-white
                          sm:w-6 sm:h-6
                          dark:text-gray-800
                        "
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M15 19l-7-7 7-7"
                        ></path>
                      </svg>
                      <span class="sr-only">Previous</span>
                    </span>
                  </button>
                  <button
                    @click="nextImage(showImage.key + 1)"
                    type="button"
                    class="
                      flex
                      absolute
                      top-0
                      right-0
                      z-30
                      justify-center
                      items-center
                      px-4
                      h-full
                      cursor-pointer
                      group
                      focus:outline-none
                    "
                    data-carousel-next
                  >
                    <span
                      class="
                        inline-flex
                        justify-center
                        items-center
                        w-8
                        h-8
                        rounded-full
                        sm:w-10 sm:h-10
                        bg-white/30
                        dark:bg-gray-800/30
                        group-hover:bg-white/50
                        dark:group-hover:bg-gray-800/60
                        group-focus:ring-4 group-focus:ring-white
                        dark:group-focus:ring-gray-800/70
                        group-focus:outline-none
                      "
                    >
                      <svg
                        aria-hidden="true"
                        class="
                          w-5
                          h-5
                          text-white
                          sm:w-6 sm:h-6
                          dark:text-gray-800
                        "
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M9 5l7 7-7 7"
                        ></path>
                      </svg>
                      <span class="sr-only">Next</span>
                    </span>
                  </button>
                  <!-- </div> -->
                </div>
                <!-- 
                <div class="mt-4">
                  <button
                    type="button"
                    class="
                      inline-flex
                      justify-center
                      rounded-md
                      border border-transparent
                      bg-blue-100
                      px-4
                      py-2
                      text-sm
                      font-medium
                      text-blue-900
                      hover:bg-blue-200
                      focus:outline-none
                      focus-visible:ring-2
                      focus-visible:ring-blue-500
                      focus-visible:ring-offset-2
                    "
                    @click="closeModal"
                  >
                    Got it, thanks!
                  </button>
                </div> -->
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>

        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>
<script setup>

const props = defineProps({
  images: {
    type: Array,
  },
});
import { ref } from "vue";
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
} from "@headlessui/vue";

const config = useRuntimeConfig();

const isOpen = ref(false);
let showImage = ref({});

function closeModal() {
  isOpen.value = false;
  showImage.value = ref({});
  console.log("close modal");
}
function openModal(img, index) {
  console.log("images", img);
  showImage.value = img;
  isOpen.value = true;
}
function nextImage(i) {
  let _index = i > props.images.length-1 ? 0 : i;
  showImage.value = props.images[_index];
}

function backImage(i) {
  let _index = i < 0 ? props.images.length - 1 : i;
  showImage.value = props.images[_index];
}
</script>